<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2017 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
<data>

<menuitem id="agreement_root_menu" name="Agreement" sequence="30" />

<menuitem
            id="agreement_menu"
            name="Agreement"
            parent="agreement_root_menu"
            sequence="1"
        />

<menuitem
            id="agreement_report_menu"
            name="Report"
            parent="agreement_root_menu"
            sequence="98"
        />

<menuitem
            id="agreement_configuration_menu"
            name="Configuration"
            parent="agreement_root_menu"
            sequence="99"
        />


</data>
</openerp>
